body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E3D51;
    font-family: 'Fredoka';
}

.header-row{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #A0CED9;
}

.header-row > a > img{
    height: 100%;
}


/* .logga-pc{
    align-self: flex-start;
}

.shopping-cart{
    align-self: flex-end;
} */

.footer-row{
    width: 100vw;
    height: 10vh;
    background-color: #1E3D51;
    display: flex;
    justify-content: space-around;
}

.footer-row > a{
    color: #cfe2e6;
    border: 2px solid #cfe2e6;
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
}

button{
    padding: 1em;
    line-height: 0;
    min-width: 3em;
    max-height: 2em;
    background-color: #FAD535;
    border-radius: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}