body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(178, 208, 219);
}

.footer-row{
    width: 100vw;
    height: 10vh;
    background-color: darkkhaki;
}