body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E3D51;
    font-family: 'Fredoka';
}

.header-row{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    background-color: #A0CED9;
}

.header-row > a > img{
    height: 100%;
}

/* .logga-pc{
    align-self: flex-start;
}

.shopping-cart{
    align-self: flex-end;
} */

.footer-row{
    width: 100vw;
    height: 10vh;
    background-color: darkkhaki;
    display: flex;
    justify-content: space-around;
}