.shopping-cart-page{
    display: flex;
    justify-content: center;
}

.shopping-cart-content{
    min-width: 80vw;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    padding: 3.5em;
    margin: 3.5em;
    /* margin-top: 5em;
    margin-bottom: 5em; */
    background-color: #A0CED9;
    border: 2px solid rgb(111, 111, 215);
    border-radius: 3em;
}

.shopping-cart-orders-column{
    max-width: 50%;
    border-radius: 3em;
    padding: 1em;
}

.shopping-card{
    display: flex;
    align-items: center;
    border: 2px solid rgb(111, 111, 215);
    border-radius: 1em;
}

.shopping-card > img{
    min-width: 100px;
    max-width: 30%;
    border-radius: 1em;
}

.shopping-card-text-row{
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.remove-button{
    min-height: 2em;
    min-width: 2em;
    margin-left: auto;
    margin-right: 2em;
}

.price-column{
    border: 2px solid rgb(111, 111, 215);
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 30%;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .shopping-cart-content{
        flex-direction: column;
    }
    .shopping-cart-orders-column{
        padding: 0;
        max-width: 100%;
    }
    .price-column{
        max-width: 100%;
    }
}